<tr class="image-row image-number-{{id}}">
  <td>{{folder}}</td>
  <td><a href="{{location}}" target="_blank">{{name}}</a></td>
  <td>{{cleanCreatedAt}}</td>
  <td>{{cleanUpdatedAt}}</td>
  <td>{{_owner}}</td>
  <td>{{tags}}</td>
  <td>{{comment}}</td>
  <td><button type="button" class="btn btn-primary delete-image-button" data-image-id="{{_id}}" data-image-location="{{location}}">Delete</button></td>
</tr>
