<tr class="image-row image-number-{{_id}}">
  <td><a href="{{location}}" target="_blank">{{name}}</a></td>
  <td>{{cleanCreatedAt}}</td>
  <td>{{cleanUpdatedAt}}</td>
  <td>{{_ownerName}}</td>
  <td>{{tags}}</td>
  <td>{{comment}}</td>
  <!-- *TODO* wrap the final column with an if statement checking if the
  currentuser is the owner - if so, show the button.
  {{!-- {{#if owner = currentUser}}
  {{/if}} --}}
  -->
  <td>
    <div class="dropdown">
      <button class="btn btn-primary image-options-button dropdown-toggle" type="button" id="image-options-button" data-image-id="{{_id}}" data-image-location="{{location}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Options
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="image-options-button">
        <li><a class="modal-button edit-image-button" data-image-id="{{_id}}" data-file-folder="{{folder}}" data-file-name="{{name}}" data-toggle="modal" data-target="#editImageModal" href="#">Edit file</a></li>
        <li><a id="delete-image" data-image-id="{{_id}}" href="#">Delete file</a></li>
      </ul>
    </div>
  </td>
</tr>
